*{
    padding: 0;
    margin: 0;
}

#flex-container-head{
    background-color: rgb(108, 74, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;    
}
#head{
    color: white;
    height: 100px;
    font-size: 10vh;
}

#flex-container-main{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 80%;
    width: 100%;
}

#content{
    height: 100vh;
}